@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .print-hidden {
        @media print {
            display: none;
        }
    }

    .print-only {
        display: none;

        @media print {
            display: block;
        }
    }
}

body {
    background-color: #f3f4f6;
    font-family: 'Times New Roman', Times, serif;
}

@media print {
    body {
        background-color: white;
    }

    @page {
        margin: 0;
    }
}